page-official {
  ion-row {
    border-bottom: 1px solid #e2e8ed;
    margin-bottom: 20px;
  }
  ion-card {
    border-bottom: none;
    margin-top: 0px !important;
  }
  .post-author{
    padding-top: 0px;
  }
  .fab .button-inner{
    font-size: 1rem;
  }
}

ion-avatar img {
  border-radius: 50%;
}

ion-note {
  position: absolute;
  right: 0px;
  margin-top: -30px;
}
